<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>StatusRecognise</servlet-name>
    <servlet-class>com.wyj.servlet.StatusRecognise</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MsgPublish</servlet-name>
    <servlet-class>com.wyj.servlet.MsgPublish</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMessageList</servlet-name>
    <servlet-class>com.wyj.servlet.GetMessageList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMessage</servlet-name>
    <servlet-class>com.wyj.servlet.GetMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommitReply</servlet-name>
    <servlet-class>com.wyj.servlet.CommitReply</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommitCriticism</servlet-name>
    <servlet-class>com.wyj.servlet.CommitCriticism</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusRecognise</servlet-name>
    <url-pattern>/StatusRecogniseAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MsgPublish</servlet-name>
    <url-pattern>/MsgPublish</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMessageList</servlet-name>
    <url-pattern>/GetMessageList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMessage</servlet-name>
    <url-pattern>/GetMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommitReply</servlet-name>
    <url-pattern>/CommitReply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommitCriticism</servlet-name>
    <url-pattern>/CommitCriticism</url-pattern>
  </servlet-mapping>
</web-app>